# --- PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/
.platformio/

# --- VS Code ---
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json

# --- Compiled Output ---
*.elf
*.bin
*.hex
*.map

# --- OS Junk & Logs ---
.DS_Store
Thumbs.db
*.suo
*.user
*.log